/*张燕CSS样式 */

/*首页共同样式开始*/

/*标签的公共样式开始*/
.off{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border: 1px solid #f3938b;
	color: #d03b34;
    background: #ffe7e5;
    border-radius: 20px;
    padding: 0px 10px;
}

.new{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 45px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #a06e37;
    background: #fffbdf;
    border: 1px solid #d5b480;
    padding: 0px 10px;
    border-radius: 20px;
}

/*标签的公共样式结束*/

/*轮播下列表共同样式开始*/
.title-list-gt{
	width: 100%;
	height: 203px;
	border: 1px solid #dbdbdb;
	border-radius: 10px;
	margin-top: 27px;
}
.title-list-gt li{
	float: left;
	width: 25%;
	height: 203px;
	border-right: 1px solid #eee;
	box-sizing: border-box;
}
.title-list-gt li .link:hover img{
	box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.1);
    transition: all .2s;
}
.title-list-gt li .link img{
	width: 100%;
	height: 100%;
}
.title-list-gt li:nth-child(4){
	border-right: none;
}
.title-list-gt li:nth-child(1) .link img{
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.title-list-gt li:nth-child(4) .link img{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

/*轮播下列表共同样式结束*/

/*热销产品共同样式开始*/
.rexiao-top-gt{
	height: 60px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 1px solid #e1e1e1;
	background: #fafafa;
	line-height: 60px;
}
.rexiao-top-gt h3{
	color: #666;
	font-size: 18px;
	font-weight: 700;
	padding-left: 25px;
}
.rexiao-list-gt .list-box{
	height: 429px;
}
.rexiao-list-gt .list-box>li{
	position: relative;
	float: left;
	width: 305px;
	height: 429px;
	text-align: center;
	border-right: 1px solid #efefef;
	box-sizing: border-box;
	transition: box-shadow 0.2s linear;
}
.rexiao-list-gt .list-box>li:hover{
	box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}
.rexiao-list-gt .list-box li:last-child{
	border-right: none;
}
.rexiao-list-gt .list-box li a>img{
	width: 216px;
	height: 216px;
	margin: 40px auto;
}
.rexiao-list-gt .list-box>li a h4{
	font-size: 14px;
	color: #333;
	font-weight: 700;
	margin-bottom: 10px;
}
.rexiao-list-gt .list-box>li a p:nth-child(3){
	color: #999;
}
.rexiao-list-gt .list-box>li:nth-child(2) a p:nth-child(4),
.rexiao-list-gt .list-box>li:nth-child(3) a p:nth-child(4){
	display: none;
	color: #e04e4e;
}

.rexiao-list-gt .list-box>li .link:hover p:nth-child(3),
.rexiao-list-gt .list-box>li .link:hover .num{
	display: none;
}
.rexiao-list-gt .list-box>li .link:hover p:nth-child(4),
.rexiao-list-gt .list-box>li .link:hover .xiangqing{
	display: block;
}

.rexiao-list-gt .list-box>li:nth-child(1) a p:nth-child(4){
	color: #999;
}
.rexiao-list-gt .list-box>li:nth-child(1) a p:nth-child(5){
	display: none;
	color: #e04e4e;
}
.rexiao-list-gt .list-box>li:nth-child(4) a p:nth-child(4){
	color: #999;
}
.rexiao-list-gt .list-box>li:nth-child(4) a p:nth-child(5){
	display: none;
	color: #e04e4e;
}

.rexiao-list-gt .list-box>li:nth-child(1) a:hover p:nth-child(4){
	display: none;
}
.rexiao-list-gt .list-box>li:nth-child(4) a:hover p:nth-child(4){
	display: none;
}
.rexiao-list-gt .list-box>li:nth-child(1) a:hover p:nth-child(5){
	display: block;
}
.rexiao-list-gt .list-box>li:nth-child(4) a:hover p:nth-child(5){
	display: block;
}
.rexiao-list-gt .list-box>li>a ul{
	height: 30px;
	line-height: 30px;
	padding-left: 117px;
}
.rexiao-list-gt .list-box>li>a ul li{
	float: left;
	width: 10px;
	height: 10px;
	background-image: url(../images/btn1.png);
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	margin: 10px 0px 0px 10px;
}
.rexiao-list-gt .list-box>li>a ul li:nth-child(2){
	background-image: url(../images/btn2.png);
}
.rexiao-list-gt .list-box>li>a ul li:nth-child(3){
	background-image: url(../images/btn3.png);
}
.rexiao-list-gt .list-box>li>a ul li:nth-child(4){
	background-image: url(../images/btn4.png);
}
.rexiao-list-gt .list-box>li>a ul>li:first-child{
	margin-left: 0px;
}
.rexiao-list-gt .list-box>li .link .num{
	display: block;
	color: #d44d44;
	font-size: 16px;
	font-weight: 800;
}
.rexiao-list-gt .list-box>li .link .xiangqing{
	display: none;
	width: 100px;
	height: 30px;
	margin: 0px auto;
	line-height: 30px;
	text-align: center;
	color: #666;
	font-weight: 600;
	border: 1px solid #e2e2e2;
	background: #fafafa;
	border-radius: 5px;
}

/*热销产品共同样式结束*/

/*新品首发共同样式开始*/
.gt-list{
	width: 100%;
	height: 858px;
}
.gt-list>ul>li{
	float: left;
	width: 305px;
	height: 429px;
	background: #fff;
	border: 1px solid #efefef;
	box-sizing: border-box;
	text-align: center;
}
.gt-list>ul>li .link{
	display: block;
	width: 305px;
	height: 429px;
}
.gt-list>ul>li .link:hover span{
	display: none;
}
.gt-list>ul>li .link:hover .btn{
	display: block;
}
.gt-list>ul>li .link img{
	width: 216px;
	height: 216px;
	margin-top: 40px;
}
.gt-list>ul>li:nth-child(1){
	width: 610px;
	height: 429px;
}
.gt-list>ul>li:nth-child(1) .link{
	width: 610px;
	height: 429px;
}
.gt-list>ul>li:nth-child(1) .link img{
	width: 100%;
	height: 100%;
	margin-top: 0px;
}
.gt-list>ul>li:nth-child(4){
	border-bottom-left-radius: 10px;
}
.gt-list>ul>li:nth-child(7){
	border-bottom-right-radius: 10px;
}
.gt-list>ul>li .link h4{
	font-size: 14px;
	font-weight: 700;
	color: #333;
	padding: 10px 0PX;
}
.gt-list>ul>li .link p{
	color: #999;
	padding-bottom: 10px;
}
.gt-list>ul>li .link ul{
	width: 100px;
	height: 20px;
	margin-left: 125px; 
}
.gt-list>ul>li .link ul>li{
	float: left;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-left: 10px; 
	background-image: url(../images/btn3.png);
	background-repeat: no-repeat;
	background-position: center;
}
.gt-list>ul>li .link span{
	display: block;
	height: 30px;
	font-size: 18px;
	color: #d44d44;
	font-weight: 700;
	margin-top: 10px;
}
.gt-list>ul>li .link .btn{
	display: none;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #e1e1e1;
	font-weight: 700;
	background: #f9f9f9;
	color: #646464;
	border-radius: 4px;
	margin: 10px auto;
}

/*新品首发共同样式结束*/


/*首页共同样式结束*/

/*顶部导航样式*/
.top-nav{
	width: 100%;
	height: 45px;
	background: #222325;
}
.top-nav .nav-img{
	width: 25px;
	height: 25px;
	background-image: url(../images/nav.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 18px;
	margin-top: 10px;
}
.top-nav .nav-list li{
	float: left;
	margin-left: 40px;
	line-height: 45px;
}
.top-nav .nav-list li:first-child{
	margin-left: 370px;
}
.top-nav .nav-list li:first-child .link{
	font-weight: bold;
	color: #e5e5e5;
}
.top-nav .nav-list li .link{
	color: #c2c2c3;
}
.top-nav .nav-list li .link:hover{
	color: #fff;
}
.top-nav .nav-shop{
	height: 45px;
	line-height: 45px;
	position: relative;
}
.top-nav .nav-shop .link:first-child i{
	font-size: 18px;
	vertical-align: -1px;
}
.top-nav .nav-shop .link i{
	color: #aaa;
	font-size: 16px;
	margin-right: 25px;
}
.top-nav .nav-shop .link:hover i{
	color: #666;
}
.top-nav .nav-shop .tankuang{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 47px;
	right: 20px;
	width: 360px;
	height: 300px;
	border-radius: 10px;
	text-align: center;
	background: #fff;
	z-index: 9999;
	transition: all 0.3s linear;
}
.top-nav .nav-shop .tankuang i{
	font-size: 70px;
	padding-top: 80px;
	color: #aaa; 
}
.top-nav .nav-shop .tankuang h3{
	font-size: 18px;
	color: #333;
	font-weight: 400;
}
.top-nav .nav-shop .tankuang p{
	color: #bcbcbc;
	line-height: 20px;
}
.top-nav .nav-shop .link:nth-child(2):hover + .tankuang{
	visibility: visible;
	opacity: 1;
}
/*列表导航样式*/
.list-nav{
	height: 90px;
	background: #fff;
	line-height: 90px;
}
.list-nav .list li{
	float: left;
	margin-left: 30px;
}
.list-nav .list li:first-child{
	margin-left: 0px;
}
.list-nav .list li:first-child .link{
	color: #343434;
	font-weight: bold;
}
.list-nav .list li .link{
	font-size: 14px;
	color: #4d4d4d;
}
.list-nav .list li:hover .link{
	color: #5079d9;
}
.list-nav .sousuo{
	width: 330px;
	height: 35px;
	line-height: 35px;
	position: relative;
	margin-top: 27px;
}
.list-nav .sousuo .txt{
	width: 330px;
	height: 35px;
	outline: none;
	border: 1px solid #ebebeb;
	border-radius: 20px;
	box-sizing: border-box;
	padding-left: 40px;
}
.list-nav .sousuo .txt:focus ~ .right-sousuo{
	display: none;
}
.list-nav .sousuo .txt:focus ~ .sousuo-list{
	display: block;
}
.list-nav .sousuo .left-sousuo .link i{
	position: absolute;
	top: 8px;
	left: 10px;
	font-size: 20px;
	color: #aaa;
}
.list-nav .sousuo .right-sousuo{
	position: absolute;
	top: 1px;
	right: 13px;
}
.list-nav .sousuo .right-sousuo a{
	padding: 0px 10px;
	border-radius: 20px;
	font-weight: bold;
}
.list-nav .sousuo .right-sousuo a:nth-child(1){
	background: #e5efff;
	color: #3965cc;
	border: 1px solid #93b2f7;
	margin-right: 5px;
}
.list-nav .sousuo .right-sousuo a:nth-child(2){
	background: #f7fae1;
	color: #8aad37;
	border: 1px solid #b6cc7b;
}
/*搜索弹出框样式*/
.list-nav .sousuo .sousuo-list{
	display: none;
	position: absolute;
	top: 65px;
	width: 330px;
	border: 1px solid #cfcfcf;
	border-radius: 10px;
	background: #fff;
	z-index: 999;
}
.list-nav .sousuo .sousuo-list span{
	display: block;
	width: 16px;
	height: 16px;
	background: #fff;
	border: 1px solid #cfcfcf;
	margin-left: 35px;
	margin-top: -10px;
	transform: rotate(45deg);
	border-right: none;
	border-bottom: none;
}
.list-nav .sousuo .sousuo-list li{
	line-height: 35px;
	padding-left: 20px;
}
.list-nav .sousuo .sousuo-list li .link{
	font-size: 14px;
	color: #666;
}
.list-nav .sousuo .sousuo-list li:hover .link{
	color: #5079d9;
}
/*轮播 热销样式*/
.title-box{
	background-color: #ededed;
	padding: 27px 0px;
}
.title-box .carousel{
	width: 100%;
	height: 498px;
	position: relative;
}
.title-box .carousel .carousel-img li{
	width: 100%;
	height: 498px;
	border-radius: 10px;
	border: 1px solid #ededed;
	position: absolute;
	top: 0px;
	left: 0px;
	box-sizing: border-box;
}
.title-box .carousel .carousel-img li .link img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.title-box .carousel .carousel-btn{
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -25px;
}
.title-box .carousel .carousel-btn li{
	float: left;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid #cfcfcf;
	/*background-color: transparent;*/
	margin-right: 10px;
}
/*热销产品样式*/
.rexiao{
	width: 100%;
	height: 490px;
	background: #fff;
	margin-top: 26px;
	border: 1px solid #dbdbdb;
	border-radius: 10px;
}
.rexiao .rexiao-top-gt .link span{
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	font-weight: 800;
	border-radius: 50%;
}
.rexiao .rexiao-top-gt .link span:nth-child(1){
	border: 1px solid #f3f3f3;
	color: #d5d5d5;
}
.rexiao .rexiao-top-gt .link span:nth-child(2){
	border: 1px solid #e1e1e1;
	color: #888;
	margin: 20px;
}
/*中心内容*/
	/*新品首发*/
.content{
	background: #ededed;
	height: 1000px;
}