a{
	text-decoration: none;
	cursor: pointer;
}
li{
	list-style: none;
}

.top{
	height: 100px;
	background-color: #100f0f;
	border-bottom: 2px solid gray;
}
.top img{
	position: absolute;
	top: 25px;
	left: 170px;
}
.top .top-nav1 a{
	float: left;
	color: #666;
	height: 100px;
	font-size: 14px;
}
.top .top-nav1 .top-nav-item{
	float: left;
	height: 100px;
	line-height: 100px;
	text-align: center;
	margin-left:40px;
}
.top .top-nav1 .top-nav-item .checked{
	color: white;
    font-weight: bold;
}	
.top .top-nav1 .top-nav-item:first-child{
	margin-left: 270px;
}
.top .top-nav1 .top-nav-item a:hover{
    color: white;
    font-weight: bold;
    transition: all 0.2s linear;
}
/* 购物车弹窗样式*/
.top .cart-shop{
	width: 100px;
	height: 100px;
	line-height: 100px;
	position: absolute;
	right: 0px;
	top:0px;
}
.top .cart-shop .cart-nav .sep{
	position: absolute;
	top: 1px;
	right: 290px;
	width: 1px;
	height: 1px;
	color: #ccc;
}
.top .cart-shop .cart-nav .fa-user{
	position: absolute;
	top: 44px;
	right: 240px;
}
.top .cart-shop .cart-nav .fa-shopping-bag{
	position: absolute;
	top: 44px;
	right: 180px;
}
.top .cart-shop .link:first-child i{
	font-size: 18px;
	vertical-align: -1px;
}
.top .cart-shop .link i{
	color: #aaa;
	font-size: 16px;
}
.top .cart-shop .link:hover i{
	color: #666;
}
.top .cart-shop .tankuang{
	display: none;
	position: absolute;
	top: 80px;
	right: 180px;
	width: 360px;
	height: 300px;
	border-radius: 10px;
	text-align: center;
	line-height: 20px;
	background: #fff;
	z-index: 9999;
	transition: all 0.3s linear;
}
.top .cart-shop .tankuang i{
	font-size: 70px;
	padding-top: 70px;
	color: #aaa; 
}
.top .cart-shop .tankuang h3{
	font-size: 18px;
	color: #333;
	font-weight: 400;
	padding-top: 20px;
}
.top .cart-shop .tankuang p{
	color: #bcbcbc;
	line-height:20px;
}

.user-info{
	height: 40px;
	background: #232323;
}
.user-info .user-info-item a{
	float: left;
	font-size: 12px;
	margin-left: 30px;
	line-height: 40px;
	text-align:center;
    color: #666; 	
}
.user-info .user-info-item:first-child{
	margin-left: 160px;
}
.user-info .user-info-item a:hover{
    color: white;
    font-weight: bold;
    transition: transform 0.2s linear;
}
.user-info .user-info-item .checked{
	color: white;
    font-weight: bold;
}
.user-info .user-info-right{
	float: right;
	font-size: 12px;
	line-height: 40px;
	margin-right:200px;
	color: #666;
	text-align: center;
}
.user-info .user-info-right a:hover{
	color: white;
    font-weight: bold;
    transition:all 0.5s linear;
}
.user-info .user-info-right a{
	color: #666;
}
.user-info .user-info-right span{
	margin-left: 10px;
	margin-right: 10px;
}
.user-info .user-info-right .box{
	float: right;
	display: inline-block;
	margin: 7px 0px 7px 50px;
	width:80px;
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	color: white;
	background-color: #2c51a4;
	border: 1px solid;
	border-radius: 11%;
	cursor: pointer;
	font-weight: bold;
}
.user-info .user-info-right .box:hover{
    background-color: #003567;
}
.header .box{
	background-color: #101010;
}
.header .header-nav .aa{
	width: 100%;
	height: 100%;
}
.header .header-nav .bb{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}
.header .header-nav .cc{
	width: 100%;
	height: 100%;
	margin-top: -3px;
}
.header .header-nav .dd{
	display: inline-block;
	width: 100%;
	height: 100%;
	margin-top: -31px;
	padding:27px 0px;
}
/*底部样式*/
.foot{
    border-top: 1px solid #ccc;
}
.foot .foot-list{
	height: 120px;
	border-bottom: 1px solid #e6e6e6;
	padding: 60px 0px;
}
.foot .foot-list .left-list{
	height: 110px;
}
.foot .foot-list .left-list dl{
	float: left;
	margin-right: 90px;
	box-sizing: border-box;
}
.foot .foot-list .left-list dl dt{
	font-weight: 700;
	color: #646464;
}
.foot .foot-list .left-list dl dd{
	margin-top: 10px;
}
.foot .foot-list .left-list dl dd .link{
	color: #969696;
}
.foot .foot-list .left-list dl dd:nth-child(2){
	margin-top: 30px;
}
.foot .foot-list .left-list dl dd .link:hover{
	color: #5079d9;
}

.foot .foot-list .right-list{
	text-align: right;
}
.foot .foot-list .right-list .num{
	font-size: 18px;
	color: #5079d9;
	font-weight: 1000;
}
.foot .foot-list .right-list .time{
	color: #999;
	margin-top: 13px;
}
.foot .foot-list .right-list .txt{
	color: #999;
	margin-top: 2px;
}
.foot .foot-list .right-list .help{
	float: right;
	width: 130px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #d0d0d0;
	color: #5079d9;
	background: #f5f5f5;
	border-radius: 5px;
	font-weight: 700;
	margin-top: 15px;
	box-sizing: border-box;
}
.foot .foot-list .right-list .help i{
	font-size: 14px;
	padding-right: 6px;
}
.foot .foot-nav{
	padding: 30px 0px 60px;
}
.foot .foot-nav .left-nav .bottom{
	line-height: 35px;
}
.foot .foot-nav .left-nav .top1 li{
	float: left;
	margin-left: 8px;
}
.foot .foot-nav .left-nav .top1 li .link{
	color: #bdbdbd;
}
.foot .foot-nav .left-nav .top1 li:hover .link{
	color: #5079d9;
}
.foot .foot-nav .left-nav .top1 li:nth-child(1){
	color: #bdbdbd;
	margin-left: 0px;
}
.foot .foot-nav .left-nav .top1 li span{
	display: inline-block;
	width: 1px;
	height: 12px;
	background: #ccc;
	margin-left: 8px;
	vertical-align: -2px;
}
.foot .foot-nav .left-nav .bottom li{
	float: left;
	margin-left: 20px;
}
.foot .foot-nav .left-nav .bottom li:nth-child(1){
	margin-left: 0px;
}
.foot .foot-nav .left-nav .bottom li .link{
	color: #bdbdbd;
}
.foot .foot-nav .right-nav .link{
	display: inline-block;
	height: 50px;
}
.foot .foot-nav .right-nav .link div{
	display: inline-block;
	width: 14px;
	height: 11px;
	border: 1px solid #c4c4c4;
	background-image: url(../images/hongxing.jpg);
	background-repeat: no-repeat;
	background-size: 16px 14px;
	vertical-align: -2px;
	margin-right: 6px;
}
.foot .foot-nav .right-nav .link span{
	color: #45474b;
	font-weight: 400;
	margin-right: 18px;
}
.foot .foot-nav .right-nav .link i{
	font-size: 12px;
	font-weight: 400;
	color: #bdbdbd;
}

